{% extends 'HTML5_Skeleton/html_adminHeader.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}




    <div class="col-md-12 content">

        <div class="row pl-5 pt-2 pr-5">
            <div class="col-md-3 bg-light border-right border-lightgrey p-3">
                <h4>Placeholder Text</h4>
            </div>
            <div class="col-md-9 bg-light border-lightgrey">

            </div>
        </div>
    </div>




{% endblock %}