{% extends 'HTML5_Skeleton/html_adminHeader.twig' %}

{% block title %}Detail{% endblock %}

{% block body %}


    <div class="col-md-12 content">

        <div class="row pl-5 pt-2 pr-5">
            <div class="col-md-9 bg-light border-lightgrey p-3 mb-1">

                <div class="row">
                    <div class="ml-4">
                        <a href="{{ path('app_category') }}">
                            <h1>
                                <i class="fas fa-arrow-left font-size-23"></i>
                            </h1>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h4>Detail</h4>
                        <text class="">Details</text>
                    </div>
                    <div class="col-md-3 text-right">
                        <i class="fas fa-plus-circle font-size-23 pt-3 color-green" data-toggle="modal" data-target="#exampleModal" onclick=""></i>


                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="row ">
                    <div class="side-info bg-light ml-3 ">
                    <div class="ml-4 pt-3">
                        <h3>
                            Information
                        </h3>
                    </div>
                    <div class="col-md-8">
                        <text class="">Informationen</text>
                        <p>
                            Info<br>
                        </p>
                    </div>
                    </div>
                </div>
            </div>



            <div class="col-md-9 bg-light p-3">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ list_of_category.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ list_of_category.name }}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{ list_of_category.comment }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>








        </div>
    </div>



{% endblock %}