<!DOCTYPE html>

<title>New ListOfCategory</title>

{% block body %}
    <h1>Create new ListOfCategory</h1>

    {{ include('list_of_category/_form.html.twig') }}

    <a href="{{ path('list_of_category_index') }}">back to list</a>
{% endblock %}
